:root {
    --turquoise-green: #b9e3c6ff;
    --ocean-green: #59c9a5ff;
    --ruby: #d81e5bff;
    --prussian-blue: #23395bff;
    --canary: #fffd98ff;
    --blue-yonder: #586ba4ff;
    --dark-cornflower-blue: #324376ff;
    --buff: #f5dd90ff;
    --atomic-tangerine: #f68e5fff;
    --bittersweet: #f76c5eff;
}

main {
    height: 100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font-family: "Roboto Flex";
    color: rgb(0, 0, 0);
}

.sidebar {
    padding-left: 15vw;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 20px
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 0.8rem;
    padding: 24px 0 0 0;
    /* text-decoration: underline; */
}



.sidebar .pen-section ul,
.sidebar .grid-section ul {
    list-style-type: none;
    padding: 0 0 0 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 150px;
    margin-bottom: 0;
    font-size: 22px;
}

.sidebar li {
    padding-bottom: 15px;
}


.modifier-keys-section p {
    font-size: 13px;
}


.modifier-keys-section ul {
    font-size: 12px;
    display: grid;
    list-style-type: none;
    padding: 0 0 0 0px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column: 3; */
}

/* For when the modifier keys are inactive */
.greyed-out {
    color: #808080;
}

.grid-container .huge-title {
    font-size: 50px;
    
    margin-bottom: 0px;
    font-family: "Grape Nuts";

}


.grid-container .sub-title {
    font-size: 20px;
    text-transform: uppercase;
}

.grid-item {
    background-color: white;
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: black;
    margin: 0 auto;
    padding: 0;
    outline: 1px solid black;
    /* grid-template-columns: "auto"; */
}

/* .container {
    display: flex;
    flex-direction: row;
    align-items: center;

} */




/* colors */
.grid-item:hover {
    background-color: #B4656F;
}

.grid-item {
    background-color: white;
}



/* colors */

/* #586ba4, #324376, #f5dd90, #f68e5f, #f76c5e */
/*  #b9e3c6, #59c9a5, #d81e5b, #23395b, #fffd98 */

.pen-color-1 {color: #59c9a5;}
.pen-color-2 {color: #d81e5b;}
.pen-color-3 {color: #f68e5f;}
.pen-color-4 {color: #586ba4;}
.pen-color-5 {color: #b9e3c6;}
.pen-color-6 {color: #f5dd90;}
.pen-color-7 {color: #3DA35D;}

.grid-color-1 {color: #273043;}
.grid-color-2 {color: #371E30;}
.grid-color-3 {color: #134611;}








/* SLIDER */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
    width: 70%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 25%;
    background: var(--ocean-green);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    background: #04AA6D;
    cursor: pointer;
  }

/* BUTTON */
/* From uiverse.io by @alexroumi */
.btn {
    padding: 5px 10px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
    transition: all 250ms;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
    transition: all 250ms
}

.btn:hover {
    color: #e8e8e8;
}

.btn:hover::before {
    width: 100%;
}